body
{
    background-color: bisque;
}

h1
{
    text-align: center;
}

input
{
    height: 50px;
    width: 300px;
    float: center;
}

button
{
    height: 40px;
    width: 70px;
}

div
{
    background-color: white;
    width: 700px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}